header {
	text-align: center;
	padding: 20vh 0px;
}

header p {
	color: var(--clr-secondary-accent);
}

header h1 {
	font-size: 4em;
}

.item {
	margin: auto;
	width: 60%;
	display: flex;
	gap: 5vw;
	margin-bottom: 10rem;
}

.item-text {
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: left;
	font-size: 1em;
}

.item-type {
	color: var(--clr-primary-accent);
}

.item-description {
	margin-top: 2rem;
}

.item-title {
	font-size: 3em;
}

.item-image {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
}

.item-image img {
	max-width: 25vw;
	height: auto;
	border-radius: 10px;
}
