header {
	text-align: center;
	padding: 20vh 0px;
}

header p {
	color: #daa520;
}

header h1 {
	font-size: 4em;
}

.item {
	margin: auto;
	width: 60%;
	margin-bottom: 10rem;
	text-align: left;
	animation: MoveToRightfadeIn 1s ease-out;
}

.item:nth-child(odd) {
	animation: MoveToLeftfadeIn 1s ease-out;
}

.item-text,
.item-image {
	display: inline-block;
	vertical-align: top;
	width: 48%;
}

.item-text {
	font-size: 1em;
}

.item-type {
	color: #daa520;
}

.item-description {
	margin-top: 2rem;
}

.item-title {
	font-size: 3em;
}

.item-image img {
	max-width: 60%;
	height: auto;
	border-radius: 10px;
}

.item-button {
	margin: 2rem 0px;
	width: 50%;
	color: #ecf0f1;
	font-size: 17px;
	background-color: #800020;
	border: 1px solid #35010e;
	border-radius: 5px;
	cursor: pointer;
	padding: 10px;
	box-shadow: 0px 6px 0px #520015;
}

.item-button:active {
	box-shadow: 0px 2px 0px #800020;
	position: relative;
	top: 2px;
}

@keyframes MoveToLeftfadeIn {
	0% {
		opacity: 0;
		transform: translateX(20%);
	}
	100% {
		opacity: 1;
		transform: translateX(0px);
	}
}

@keyframes MoveToRightfadeIn {
	0% {
		opacity: 0;
		transform: translateX(-20%);
	}
	100% {
		opacity: 1;
		transform: translateX(0px);
	}
}
