.hero {
	font-family: 'Times New Roman', Times, serif;
	background-color: #262523;
	background-position: bottom 100px right 200px;
	height: 600px;
	text-align: center;
	color: white;
	padding: 50px;
}

.hero h1 {
	font-size: 3rem;
	margin: 0.5rem;
}

.logo img {
	width: 300px;
	height: auto;
	animation: girar 1s linear;
}

.linha {
	height: 2px;
	background-color: #c2a878;
	margin: 10px auto;
	width: 60%;
}

h1 {
	font-size: 60px;
	margin: 20px 0;
	font-weight: bold;
}

.autor {
	margin-top: 30px;
	font-size: 10px;
	color: whitesmoke;
	height: 20px;
	margin-bottom: 30px;
}

.secao {
	display: block;
	font-size: 20px;
	background-color: #f5f5dc;
	color: #262523;
	margin: auto;
	padding: 5% 10%;
}

.item-text {
	display: block;
	text-align: left;
	font-size: 1em;
}

.item-image {
	margin-top: 30px;
	display: inline-block;
	width: 100%;
	text-align: center;
}

.item-image img {
	max-width: 50%;
	height: auto;
	border-radius: 10px;
}

.titleAdega {
	text-align: center;
	padding: 20px;
}

#conheca {
	display: block;
}

#conheca div {
	display: inline-block;
	vertical-align: top;
	width: 48%;
	margin-right: 20px;
}

.image {
	width: 500px;
	height: auto;
	border-radius: 10px;
	transition: height 2s, width 2s;
}

.item-button {
	width: 50%;
	color: #ecf0f1;
	font-size: 17px;
	background-color: #800020;
	border: 1px solid #35010e;
	border-radius: 5px;
	cursor: pointer;
	padding: 10px;
	box-shadow: 0px 6px 0px #520015;
}