@import url(Efeitos.css);

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	border: 0;
}

body {
	background-color: #f5f5dc;
	color: #36454f;
	font-family: 'Arial', sans-serif;
	line-height: 1.5;
}

footer {
	text-align: center;
	padding: 3rem 0;
	background-color: #a0522d;
	color: #f5f5dc;
	font-size: 1.2rem;
}

nav {
	position: fixed;
	height: 60px;
	width: 100%;
	padding: 20px 15%;
	background: #262523;
	color: white;
	top: 0;
	z-index: 2;
}

nav a {
	color: white;
	text-decoration: none;
	font-size: 1rem;
}

.menu {
	text-align: right;
	display: inline;
	margin-left: 30px;
}

.menu a {
	display: inline-block;
	margin-left: 20px;
}

form h3 {
	color: #ffffff;
}

.linha {
	height: 2px;
	background-color: #c2a878;
	margin: 10px auto;
	width: 60%;
}