header {
	text-align: center;
	padding: 20vh 0;
}

header p {
	color: #daa520;
}

header h1 {
	font-size: 4em;
}

.item-image {
	text-align: center;
	width: 100%;
}

.item-image figure {
	display: inline-block;
	margin: 40px 40px;
	text-align: center;
}

.item-image img {
	max-width: 25vw;
	height: auto;
	border-radius: 10px;
}

.secao {
	padding: 80px 20px;
	text-align: center;
}

.cards {
	display: inline-block;
	margin-top: 30px;
	text-align: center;
	width: 100%;
}

.card {
	display: inline-block;
	background: black;
	padding: 20px;
	border-radius: 10px;
	width: 250px;
	margin: 10px;
}

.card h3 {
	margin-top: 0;
}

table {
	width: 100%;
	border-collapse: collapse;
	margin-top: 30px;
}

table,
th,
td {
	border: 1px solid black;
}

th,
td {
	padding: 15px;
	text-align: center;
}

thead {
	background-color: #c2a878;
}

.uvas {
	margin: auto;
	text-align: center;
}

.moldura {
	border: solid 1px black;
	top: 100px;
}